
.logo{
    margin: 0px 10px;
}
.bg-custom{
    background-color: #192839;
    color: white;
}

.mainText{
    margin: 2.5rem;
    font: 5em sans-serif;
    font-weight: 550;
}
.Green{
    color: #41D3BD;
}
form{
    margin-top: 2rem;

}

input{
    margin: 0.5rem;
    padding: 1rem;
    width: 25rem;
    border: #192839 3px solid;
    border-radius: .6rem;
    font-size: large;
    
}
.box{
    text-align: center;
}
.submit{
    background-color: #41D3BD;
    margin: 1rem;
    width: 20rem;
    font: 1.5em sans-serif;
    font-weight: bold;
    border: none;
    padding: .5rem;
    border-radius: .8rem;
}
.people{
    width: 100%;
}

.footlink{
    padding: 3rem;
}

.footlink a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.footlink a:hover{
  text-decoration: underline;
}
.father {
    position: relative;
    text-align: center;     
}
.child {
    position: absolute;;
    top: 50%;
    left: 50%;    
    margin-left: -50px;
    margin-top: -50px;
}
.father h3{
    display: inline;
    
}
.fstar{
    width: 10rem;
    padding-left: 1rem;
}
.flogo{
    width: 15rem;
    padding-left: 1rem;
}
.btn-custom{
    margin-top: 2rem;
    background-color: #304D6D;
    color: white;
    border-radius: 2rem;
}
.cbox{
    text-align: center;

    margin: 0%;
    padding: 0%;
}
.rbox{
    text-align: right;
    margin: 0;
    margin-top: -25px;

    padding: 0%;
}